<div class="row">
  <div class="col-sm-2 bg-dark"> </div>
  <div class="col-sm-8">
    <img src="assets/new logo1111.png" alt="view logo" class="center"  height="60%" width="30%">
    
    <nav class="navbar navbar-expand bg-light justify-content">
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/"></a></li>
            <!-- <li class="nav-item"> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="thechoice" style="color: black">THECHOICE</a> </li> 
    
      <li class="nav-item">
      <a class="nav-link" routerLink="/advertisement" style="color: black">ADVERTISEMENT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/app-ourstores" style="color: black">OURSTORES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/heritage" style="color: black" >HERITAGE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/dealer" style="color: black">BECOMEADEALAR</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/ride" style="color: black">BOOKATESTRIDE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color: black">AFTERSALES</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style="color: black">EXPORT</a>
        </li> -->

      </ul>
  </nav> 
    
  </div>
  <div class="col-sm-2 bg-dark"> 

  </div> 
</div>
<router-outlet></router-outlet>  