
<div class="row">
<!-- <div class="col-sm-2 bg-dark">
 </div> -->
  <div class="col-sm-12 ">
  <div class="jumbotron image">
<select class="mdb-select md-form" searchable="Search here..">
  <option value="" disabled selected>--PLEASE SELECT YOUR STATE--</option>
  <option value="1">ANDHRA PRADESH</option>
  <option value="2">ARUNACHAL PRADESH</option>
  <option value="4">ASSAM</option>
  <option value="5">BIHAR</option>
  <option value="6">DELHI</option>
  <option value="7">GOA</option>
  <option value="8">GUJARAT</option>
  <option value="9">HARYANA</option>
  <option value="10">HIMACHAL PRADESH</option>
  <option value="11">JAMMU & KASHMIR</option>
  <option value="12">JHARKHAND</option>
  <option value="13">KARNATAK</option>
  <option value="14">KERALA</option>
  <option value="15">MADHYA PRADESH</option>
  <option value="16">MAHARASHTRA</option>
  <option value="17">MANIPUR</option>
  <option value="18">MEGHALAY</option>
  <option value="19">MIZORAM</option>
  <option value="20">NAGALAND</option>
  <option value="21">ODISA</option>
  <option value="22">PUNJAB</option>
  <option value="23">RAJASTHAN</option>
  <option value="24">SIKKIM</option>
  <option value="25">TAMILNADU</option>
  <option value="26">TELANGANA</option>
  <option value="27">TRIPURA</option>
  <option value="28">UTTAR PRADESH</option>
  <option value="29">UTTRAKHAND</option>
  <option value="30">WEST BENGAL</option>
</select>
<br> <br>
<select class="mdb-select md-form" searchable="Search here..">
  <option value="" enable selected>--PLEASE CHOOSE YOUR CITY--</option>
  <option value="1">USA</option>
  <option value="2">Germany</option>
  <option value="3">France</option>
  <option value="3">Poland</option>
  <option value="3">Japan</option>
</select>

</div>
</div>
<!-- <div class="col-sm-2">

</div> -->

</div>