
<!-- <div class="container-fluid"> -->
     <div class="row"> 
         <div class="col-sm-2 bg-dark"> </div>
        <div class="col-sm-8" style="padding: initial"> 
          <div class="jumbotron image" >
            <div class="state">
               
          <h5>Register and Take a Test Ride of the Stylish & iconic Vespa</h5>
          <div class="row">
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" placeholder="Name*" name="email" >
            </div>
            <div class="col-sm-6">
              <input type="mobile number" class="form-control" placeholder="mobile number*" name="mobile">
            </div> <br>
            <div class="col-sm-4"><br><br>
              <input type="city" class="form-control" placeholder="City*" name="city*">
            </div>
            <div class="col-sm-4"><br><br>
              <input type="email id" class="form-control" placeholder="Email id*" name="pswd">
            </div>
            
          </div>
          <h6>Disclaimer:"I agree clicking 'Enquiry Now' I am explicitly a call from piaggo or its associate on my mobile number to assist me in purchasing piaggio</h6>
          <button type="submit" class="btn btn-primary mb-2">Enquirey now</button>
           
        </div> 
        <!-- </div>  -->
        <audio autoplay>
          <source src="./assets/3705.ogg" type="audio/ogg">
          <source src="./assets/3705.mp3" type="audio/mpeg">
        </audio>
      </div> 
        <div class="col-sm-2 bg-dark"> </div>
        
      </div> 
     </div> 

