.image {
    background-image: url("/assets/Redpexels-photo-1528977.jpeg");
    background-color: #cccccc;
    height: 500px;
    width: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }