<!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-sm-2 bg-dark"> </div>
        <div class="col-lg-8" style="padding: initial">
            <img src="assets/storeimage.jpg" alt="fistimages"  height="600" width="1000">
            <img src="assets/new1 image.jpg" alt="fistimage"  height="600" width="1000">
          <img src="assets/new2image.jpg" alt="thirdmage"  height="600" width="1000">
          <img src="assets/new3rdimage.jpg" alt="frothimage"  height="600" width="1000">
        </div>
        <div class="col-sm-2 bg-dark"> </div>
      </div>
    <!-- </div> -->


